<!-- Only grab measure records and result values once to avoid duplicate queries -->
<% if measure && patients.length.positive? %>
  <% population_keys = if measure.measure_scoring == 'continuous-variable'
                          RecordsHelper::CV_POPULATION_KEYS
                        elsif measure.measure_scoring == 'proportion'
                          RecordsHelper::PROPORTION_POPULATION_KEYS
                        else
                          []
                        end %>
<% end %>
<h1><%= measure ? measure.name : 'All' %> Patients</h1>
<% if (measure && patients.length.positive?) || (!measure  && patients.length.positive?) %>

<% if @vendor %>
  <%= link_to "View Patient Analytics", patient_analysis_vendor_records_path(:vendor_id => @vendor.id, :bundle_id => @bundle.id) %>
  <br>
  <br>
  <button class="btn btn-primary pull-left" type="button" id="vendor-patient-select-all" value="unchecked" title="Select All">
    <i class="fa fa-square" aria-hidden="true"></i> <span id="vendor-patient-select-all-text">Select All</span>
  </button>
  <br>
  <br>
<% end %>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <% if vendor %>
        <th scope="col">Select</th>
      <% end%>
      <th scope="col">Patient Name</th>
      <th scope="col">DOB</th>
      <th scope="col">Gender</th>
      <% if measure && !hide_patient_calculation?%>
        <th scope="col">Population Group</th>
        <% population_keys.each do |population| %>
          <th scope="col" class="text-center"><%= population_label(bundle, population) %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <!-- TODO: Add back calculation totals in footer -->
  <tfoot style="border-top: 2px solid #ddd;">
  </tfoot>

  <tbody>
    <%= render 'calculation_results',
      :patients => patients,
      :result_values => results,
      :bundle => bundle,
      :measure => measure,
      :pop_keys => population_keys
    %>
  </tbody>
</table>

<% else %>
<p>No patient results for the current criteria.</p>
<% end %>

<% if vendor %>
  <%# Making the checkbox-danger-panel its own class so its behavior doesn't affect any other danger panels%>
  <div class = 'checkbox-danger-panel' hidden>
    <%= render 'remove_panel', :name => vendor.name, :type => 'Selected Patients', :message => 'Deletion is permanent and cannot be undone. Be sure you want to do this.', :delete_path => destroy_multiple_vendor_records_path(vendor), :action => 'destroy_multiple' %>
  </div>
  <%= render 'action_modal' %>
<% end%>
