<div class="row">
<!-- Show measure calculation -->

<%
  pop_keys = RecordsHelper::PROPORTION_POPULATION_KEYS
  measure_file = File.read('./tmp/fhir/measure-bundle.json')
  measure_json = JSON.parse(measure_file)
  patient_file = File.read('./tmp/fhir/patient-bundle.json')
  patient_json = JSON.parse(patient_file)
  response = RestClient.post "http://localhost:3000/calculateMeasureReports",  JSON.generate({ measure: measure_json, patients: [patient_json], options: { 'includeHighlighting' => true, 'calculateHTML' => true } }), :content_type => 'application/json'
  raw_json = JSON.parse(response)
  pop_map = { 'IPP' => 'initial-population', 'DENOM' => 'denominator', 'NUMER' => 'numerator', 'DENEX' => 'denominator-exclusion', 'DENEXCEP' => 'denominator-exception' }
%>

<div class="col-md-6" style="overflow-y: scroll; height:100vh;">
  <h2>Measure Information</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <td></td>
        <% pop_keys.each do |population| %>
          <th scope="col" class="text-center"><%= population_label(@bundle, population) %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% raw_json.each_with_index do |result, index|
        html = result['text']['div'] %>
        <tr>
          <th class="abbreviated" scope="row">
            <% measure_name = result['measure'].split('/').last %>
            <%= measure_name %>
          </th>
          <% pop_keys.each do |population| %>
            <td class="text-center">
            <% values = result['group'][0]['population'].select { |p| p['code']['coding'][0]['code'] == pop_map[population] }
            value = values.count.positive? ? values.first['count'] : nil %>
            <% if value && value.positive? %>
              <span class="sr-only">Pass</span>
              <span class="fa-stack result-marker">
                <%= icon('fas fa-stack-2x', 'circle', :"aria-hidden" => true) %>
                <strong class="fa-stack-1x result-text"><span class="sr-only">value of </span><%= value %></strong>
              </span>
            <% else %>
              <span class="sr-only">Fail</span>
              <%= icon('far fa-2x empty-marker', 'circle', :"aria-hidden" => true) %>
            <% end %>
          </td>
          <% end %>
        </tr>
        <tr><td colspan="<%= pop_keys.size + 1 %>">
          <button class="collapsible">View Logic Highlighting</button>
          <div class="collapse-content">
            <%= render 'patient_measure_highlighting', :html => html, :index => index, :measure_name => measure_name %>
          </div>
        </td></tr>
      <% end %>
    </tbody>
  </table>
</div>

  <div class="col-md-6" style="overflow-y: scroll; height:100vh;">
    <%= Summary.new(patient_json).render.html_safe %>
  </div>
</div>
